<!DOCTYPE html>
<html>
<head>
      <%- include('partials/head'); -%> 
	<title><%= status %></title>
</head>
<body>
      <%- include('partials/menu'); -%>
    <div class="login-page">
              <div class="form">
<h3><%= message %></h3>
    <h2><%= status %></h2>
        </div>
    </div>
</body>
    <%- include('partials/script'); -%>

</html>