<!DOCTYPE html>
<html lang="en">
<head>
 <%- include('partials/head'); -%> 
</head>
<body>
<%- include('partials/menu'); -%>

<div class="container-fluid bg-3 text-center">  
<table style="width:100%">
    <tr>
      <td width="10%">
          <div class="row">
            <div class="col">
             <div class="vmenu">
               <div class="row">
                 <div class="col-sm-8"> 
                   <a id="abrir" class="abrir-cerrar"  href="/liste" onclick="mostrar()">
                      INSTRUMENTOS LIBRES
                   </a>
                 </div>
               </div>
                 <div class="row">
                 <div class="col-sm-8"> 
                   <hr>
                 </div>
               </div>
               <div class="row">
                 <div class="col-sm-8">
                   <a id="cerrar" class="abrir-cerrar" href="/listr" onclick="ocultar()">
                    INSTRUMENTOS ASOCIADOS
                   </a>
                 </div>
               </div>
             </div>
            </div>
         </div>
         </td>
    
         <td td width="85%">
        <div class="buzon-page">
        
         
        
        
              <div class="bform">
                <h4><%= page %></h4><br>
                <div class="row">
                  <div class="col-sm-5">

                    <p><strong>ARCHIVO</strong></p>

                  </div>
                    <% if (tipo==2) { %> 
                  <div class="col-sm-3"> 
                    <p><strong>TITULO</strong></p>

                  </div>
                    <% } 
                    else 
                        { %>
                        <div class="col-sm-3"> 
                    <p><strong>TITULO</strong></p>

                  </div>    
                     <%   }  %>
                  <div class="col-sm-2"> 
                      <p><strong>TIPO</strong></p>
                  </div>
                </div>
 
                <% function formatDate(value)
                 {
                   var date = new Date(value),
                    mnth = ("0" + (date.getMonth() + 1)).slice(-2),
                    day = ("0" + date.getDate()).slice(-2);
                    return ([day,mnth,date.getFullYear()].join("-"))+" " + date.getHours() + ":" + date.getMinutes();
  
                 }%>

                 <%for (var msg in msgs){ 
                
                %>
                  <div class="row">
                     <div class="col-sm-5">
       
                      <!--  a href="/list/showmsg?destinatario=<%- msgs[msg].destinatario -%>&remitente=<%- msgs[msg].remitente -%>&asunto=<%- msgs[msg].asunto -%>&body=<%- msgs[msg].cuerpo -%>">--> 
                       <p><%= msgs[msg].FLENME %></p> </a> 
      
                     </div>
                        <% if (tipo==2) { %> 
                     <div class="col-sm-3"> 
                        <p><%= msgs[msg].TITULO %></p>
     
                     </div>
                      
                    <% } 
                    else 
                        { %>
                         <div class="col-sm-3"> 
                        <p><%= msgs[msg].TITULO %></p>
     
                     </div>
                      <% } %>
                     <div class="col-sm-2"> 
                        <p><p><%= msgs[msg].TPO %></p><!-- %= formatDate(msgs[msg].create_date) %-->
                     <a title="Retornar" href="/<%= msgs[msg].ID %>.html"><img  height="25"  width="25" src="/retornar.png" alt="Borrar" /></a>
                        <a title="Borrar" href="/list/delete?id=<%= msgs[msg].ID %>"><img  height="25"  width="25" src="/trash.png" alt="Borrar" /></a>
                         </p>
                     </div>
                  </div>
                 <%}%>

               </div>
           
         </td>
         </tr>
    </div>
</div>
</body>
<%- include('partials/script'); -%>
</html>